<h5>My Games Page</h5>

<div>
    <!-- <app-search-page></app-search-page> -->
    <!-- add new game button here -->
    
    <br /> <br />
    <ul class="GameDetails">
        <li *ngFor="let aGame of myGames;">
            <div>
                <button routerLink="/game/:{{aGame.gameID}}">Game name: {{aGame.gameName}}
                    <br />
                    Game ID: {{aGame.gameID}}
                </button>
                <br />
                <button routerLink="/noteDetails/:{{aGame.gameID}}">add note</button>
                <br>
                <!-- <button (click)="updateNote()">Add/Update Note</button> -->
            </div>
            <br />
        </li>
    </ul>
</div>


 
