<h5>My Games Page</h5>

<div>
    
    <div class="card align-items-center" style="width: 18rem;">
        <button class="btn btn-primary"  style="width: 13rem;" routerLink="/search/">Add New Game</button>
    </div>
    
    <br /> <br />
    
    <ul class="GameDetails">
        <li *ngFor="let aGame of myGames;">
            <div>
                <button routerLink="/game/:{{aGame.gameID}}">Game name: {{aGame.gameName}}</button>
                <br />

                <button routerLink="/noteDetails/:{{aGame.gameID}}/:{{aGame.gameName}}">Add New Note</button>

                <br>
                <!-- <button (click)="updateNote()">Add/Update Note</button> -->
            </div>
            <br />
        </li>
    </ul>
</div>


 
