<h5>Home Page</h5>
<br />
<br />

<h3 *ngIf="username">
    Welcome, {{username}}
</h3>


<div>
    <div *ngIf="loaded" >
        <h4>Last Three Notes:</h4>
        <div>
            <ul>
                 <li *ngFor="let aNote of latestThreeNotes;">
                    <div>
                        {{aNote.noteDate | date:'full'}}
                        <br />
                        <div>
                            {{aNote.noteContent}}
                        </div>
                    </div>

                </li>
            </ul>
        </div>

    </div>
</div>


