<p>nav-bar works!</p>
<nav class="card align-items-center" style="width: 32rem;" *ngIf="loginService.IsLoggedIn()">  <!--  -->
    <span style="width: auto;">
        
        <button type="button" class="btn btn-info btn-lg" routerLink="/home">Home</button>
        &nbsp; &nbsp;

        <button type="button" class="btn btn-info btn-lg" routerLink="/myGames">My Games</button>
        &nbsp; &nbsp;

        <button type="button" class="btn btn-info btn-lg" routerLink="/search">Search</button>
        &nbsp; &nbsp;

        <button type="button" class="btn btn-info btn-lg" (click)='Logout()'>Log Out</button>

    </span>
</nav>


<!-- this is redundant, this component only shows if CheckLogin() comes back true (unreachable code, theoretically) -->
<nav *ngIf="!loginService.IsLoggedIn()">
    <a routerLink="/login">Go to Login Screen</a>
</nav>