nav {
  display: inline-block;
  background-color: #e1f1f5;
  box-shadow: rgba(0,0,0,0.15) 2px 2px;
  padding: 0.25em;
  margin: 0.35em 0.5em;
  font-size: 0.85em;
  text-align: center;
  margin: 0vh 7vw;
  font-family: sans-serif;
  color: #333A56;
  font-size: 11pt;
}