<p>search-page works!</p>

<label>Search:</label><input>

<br>

<button (click)=Search()>Search</button>
<br /> <br /> <br />


<div class="card" style="width: 25rem;"*ngIf="searched">
    <br />
    <h2>Results:</h2>
    <br />
    <br />

    <div>
        <div class="card align-items-center" style="width: 20rem;">
            <a class="btn btn-link" style="width: 18rem;" routerLink="/game/:2">game1 name</a>
            <br />
        </div>
        <br />
    
        <div class="card align-items-center" style="width: 20rem;">
            <a class="btn btn-link" style="width: 18rem;" routerLink="/game/:2">game1 name</a>
            <br />
        </div>
        <br />
    
        <div class="card align-items-center" style="width: 20rem;">
            <a class="btn btn-link" style="width: 18rem;" routerLink="/game/:2">game1 name</a>
            <br />
        </div>
        <br />
    </div>
    

</div>
