<h5>Search Page</h5>

<label>Search:</label><input  type="text" id="searchInputID" name="searchInput"  [(ngModel)]="searchInput">

<br>

<button (click)=Search(searchInput)>Search</button>
<br /> <br /> <br />


<div  *ngIf="searched">
    <br />
    <h2>Results:</h2>
    <br />
    <br />

    <div *ngIf="gameResults.length == 0">
        <h2> No Results. </h2>
    </div>

    <ul class="GameDetails">
        <li *ngFor="let aGame of gameResults;">
            <div >
                <!-- game details -->
                <button routerLink="/game/:{{aGame.gameID}}">Game Name: {{aGame.gameName}}
                    <br />
                    Game ID: {{aGame.gameID}}
                </button>
                <br />
                <button (click)="AddToMyGames(aGame.gameID, aGame.gameName);" >add to my games</button>
            </div>
            <br />
        </li>
    </ul>

</div> 

