<h2>Games</h2>
<div>
    <h3>Search for games.</h3>
    <label for="search">Search:</label>
    <input type ="text" id="search" name="search">
    <ul>
        <li>
            <p>Game 1</p> <button type="button">Add game to list</button>
            <p>Game 2</p> <button type="button">Add game to list</button>
            <p>Game 3</p> <button type="button">Add game to list</button>
            <p>Game 4</p> <button type="button">Add game to list</button>
            <p>Game 5</p> <button type="button">Add game to list</button>
        </li>
    </ul>
</div>